@page "/Admin"
@inject HttpClient client
@inject IStringLocalizer<AdminPannel> localizer


@if (users == null) {
    <p>@localizer["Loading"]</p>
} else
{
    <table class="table">
        <thead>
            <tr>
                <th>@localizer["Name"]</th>
                <th>@localizer["Email"]</th>
                <th>@localizer["Role"]</th>
                <th>@localizer["Button"]</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var f in users){
            <AdminItem user=f></AdminItem>
        }
        </tbody>
    </table>
}

@code {
    private List<UserPublic> users = null;

    protected override async Task OnInitializedAsync()
    {
        users = await client.GetFromJsonAsync<IEnumerable<UserPublic>>("/Users/listUser") as List<UserPublic>;
    }
}