@page "/Admin"
@inject HttpClient Client
@inject IStringLocalizer<AdminPannel> Localizer


@if (_users == null) {
    <p>@Localizer["Loading"]</p>
} else
{
    <table class="table table-striped container container-fluid">
        <thead>
            <tr>
                <th class="text-center">@Localizer["Name"]</th>
                <th class="text-center">@Localizer["Email"]</th>
                <th class="text-center">@Localizer["Role"]</th>
                <th class="text-center">@Localizer["Button"]</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var u in _users){
            <AdminItem user=u></AdminItem>
        }
        </tbody>
    </table>
}

@code {
    private List<UserPublic> _users = null;

    protected override async Task OnInitializedAsync()
    {
        _users = await Client.GetFromJsonAsync<IEnumerable<UserPublic>>("/Users/listUser") as List<UserPublic>;
    }
}