@page "/email"
@inject HttpClient Http
@inject IStringLocalizer<Email> Localizer

<EditForm class="email-form" OnValidSubmit="OnSubmit" Model="emailForm">
    <h4 class="font-weight-normal text-center">@Localizer["Send"]</h4>
    <label for="inputEmail" class="sr-only">@Localizer["Email"]</label>
    <InputText id="inputEmail" class="form-control" placeholder="Adresse mail" autofocus @bind-Value="@emailForm.EmailAddress" />
    <label for="inputText" class="sr-only">@Localizer["Text"]</label>
    <InputText id="inputText" class="form-control" placeholder="Adresse text" autofocus @bind-Value="@emailForm.Content" />
    <button class="btn btn-lg btn-primary btn-block" type="submit">@Localizer["Send"]</button>
</EditForm>

@functions
{
    EmailForm emailForm { get; set; }
    string error { get; set; }

    async Task OnSubmit()
    {
        await Http.PostAsJsonAsync("/Email", emailForm);
        error = null;
    }
}