@page "/formations/creation"
@using Mediwatch.Shared
@inject IJSRuntime JSRuntime;
@inject HttpClient Http;
@inject NavigationManager NavManager
@inject IStringLocalizer<Formation_creation> localizer

<!--<AuthorizeView Roles="Admin, Tutor">-->
<div>
    <h1>@localizer["Creation"]</h1>

    <p>@localizer["Note"]</p>
    @if (validation == 0 || validation == 3)
    {
        <EditForm Model="@formTab1" OnValidSubmit="@PostFormation">
            <DataAnnotationsValidator />
            <table>
            <tr>
                <td><label for="name">@localizer["Name"]</label></td>
                <td>
                    <InputText id="Name" placeholder="Veuillez entrer un nom." @bind-Value="formTab1.Name" />
                </td>
            </tr>
            <tr>
                <td><label for="">@localizer["Date"]</label></td>
                <td>
                    <InputDate id="startDate" @bind-Value="formTab1.StartDate" Min="2020-01-01" />
                    <p style="display: inline;">~</p>
                    <InputDate id="endDate" @bind-Value="formTab1.EndDate" Min="2020-01-01" />
                </td>
            </tr>
            <tr>
                <td><label for="Description">@localizer["Description"]</label></td>
                <td>
                    <InputTextArea id="Description" placeholder="Veuillez entrer une description."
                        @bind-Value="formTab1.Description" Rows="10" Cols="50"></InputTextArea>
                </td>
            </tr>
            </table>
            @if (validation == 0)
            {
                <button type="submit">@localizer["Next"]</button>
            }
        </EditForm>
    }

    @if (validation == 1 || validation == 3)
    {
        <EditForm Model="@formTab2" OnValidSubmit="@PostFormation">
            <DataAnnotationsValidator />
            <table>
            <tr>
                <td><label for="Former">@localizer["FName"]</label></td>
                <td>
                    <InputText id="Former" placeholder="Veuillez entrer un nom." @bind-Value="formTab2.Former" />
                </td>
            </tr>
            <tr>
                <td><label for="Price">@localizer["Price"]</label></td>
                <td>
                    <InputNumber id="Price" @bind-Value="formTab2.Price" />
                </td>
            </tr>
            <tr>
                <td><label for="OrganizationName">@localizer["OName"]</label></td>
                <td>
                    <InputText id="OrganizationName" placeholder="Veuillez entrer le nom de l'organisme."
                        @bind-Value="formTab2.OrganizationName" />
                </td>
            </tr>
            </table>
            @if (validation == 1)
            {
                <button type="submit">@localizer["Next"]</button>
            }
        </EditForm>
    }

    @if (validation == 2 || validation == 3)
    {
        <EditForm Model="@formTab3" OnValidSubmit="@PostFormation">
            <DataAnnotationsValidator />
            <table>
            <tr>
                <td><label for="Contact">@localizer["Contact"]</label></td>
                <td>
                    <InputText id="Contact" placeholder="Veuillez entrer un contact." @bind-Value="formTab3.Contact" />
                </td>
            </tr>
            <tr>
                <td><label for="Location">@localizer["Location"]</label></td>
                <td>
                    <InputText id="Location" placeholder="Veuillez entrer la localisation de la formation."
                        @bind-Value="formTab3.Location" />
                </td>
            </tr>
            </table>
            @if (validation == 2)
            {
                <button type="submit">@localizer["Submit"]</button>
            }
        </EditForm>
    }

    @if (validation == 3)
    {
        <button type="submit" @onclick=@PostFormation>@localizer["SubmitValidation"]</button>
    }

    @if (validation == 4)
    {
        <p>@localizer["SubmitSuccess"]</p>
        <button type="submit" @onclick=@PostFormation>@localizer["CreateNew"]</button>
        <button type="submit" @onclick=@GoBack>@localizer["Home"]</button>
    }
</div>

<!--</AuthorizeView>-->
@code
{
    private FormationTemplateTab1 formTab1 { get; set; } = new FormationTemplateTab1();
    private FormationTemplateTab2 formTab2 { get; set; } = new FormationTemplateTab2();
    private FormationTemplateTab3 formTab3 { get; set; } = new FormationTemplateTab3();
    private formation form { get; set; } = new formation();
    private int validation = 0;

    protected override async Task OnInitializedAsync()
    {
        await JSRuntime.InvokeVoidAsync("display", validation);
        validation = 0;
    }

    private async void PostFormation()
    {
        validation++;

        if (validation == 4)
        {
            form.Name = formTab1.Name;
            form.StartDate = formTab1.StartDate;
            form.EndDate = formTab1.EndDate;
            form.Description = formTab1.Description;
            form.OrganizationName = formTab2.OrganizationName;
            form.Price = formTab2.Price;
            form.Former = formTab2.Former;
            form.Location = formTab3.Location;
            form.Contact = formTab3.Contact;
            await Http.PostAsJsonAsync("Formation", form);
        }

        if (validation == 5)
        {
            validation = 0;
        }
    }

    private void GoBack()
    {
        validation = 0;
        NavManager.NavigateTo("/");
    }
}