@page "/paypaltest"
@inject HttpClient Client
@inject IJSRuntime JsRuntime
@inject IStringLocalizer<Index> Localizer
@inject NavigationManager NavManager

<main>
    <div class= "cards-container">
        <div>
            <div class="little-cards-container">
                @if (_formations == null)
                {
                    <p>@Localizer["Unavaillable"]</p>
                }
                else
                {
                    int val = 0;
                    @foreach (var f in _formations)
                    {
                        <div @onclick="@(e => clickfunc("formations/" + f.id))">
                            @if (val++ % 2 == 0)
                            {
                                <div class="little-card  dark-color">
                                    <div class="little-card-image-container">
                                        <image src="images/palpatine.jpg" />
                                    </div>
                                    <div class="little-card-title low-color">
                                        <h3>@f.Name</h3>
                                        <h4>@f.Former, @f.OrganizationName</h4>
                                        <h4>@f.Price</h4>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="little-card  high-color">
                                    <div class="little-card-image-container">
                                        <image src="images/palpatine.jpg" />
                                    </div>
                                    <div class="little-card-title mid-color">
                                        <h3>@f.Name</h3>
                                        <h4>@f.Former, @f.OrganizationName</h4>
                                        <h4>@f.Price</h4>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</main>


@code {
    private List<formation> _formations = null;

    protected override async Task OnInitializedAsync()
    {
        _formations = await Client.GetFromJsonAsync<IEnumerable<formation>>("Formation") as List<formation>;
        await JsRuntime.InvokeVoidAsync("display", await Client.GetFromJsonAsync<IEnumerable<formation>>("Formation"));
    }

    private void clickfunc(string path) {
        NavManager.NavigateTo(path);
    }
@* 
    private void affichage_formation(int id)
    {
        JsRuntime.InvokeAsync<object>("open", "/formations/" + id.ToString(), "_blank");
    } *@
}