@page "/utilisateur/achat"
@inject Blazored.LocalStorage.ILocalStorageService Storage
@inject HttpClient Client


<h2>Votre panier</h2>

@if (formations.Count == 0)
{
    <p>Votre panier est vide.</p>
}
else
{
    @foreach (var f in formations)
    {
        var tmp_f = @f;
        <h4>@f.Name</h4>
        <p>Du @f.StartDate au @f.EndDate, par @f.Former</p>
        <br />
        <p>Coût : @f.Price €</p>
        <input type="button" @onclick="@(() => SuppressionFormation(tmp_f))" value="Enlever du panier" />
    }
    <input type="button" @onclick="(() => Payer())" value="Payer" />
}


@code {

    private List<formation> formations = new List<formation>();

    private List<string> fs = null;

    protected override async Task OnInitializedAsync()
    {
        fs = await Storage.GetItemAsync<List<string>>("formations");

        if (fs == null)
        {
            Console.WriteLine("Panier vide.");
        }
        else
        {
            Console.WriteLine(">>>>" + fs.Count);

            foreach (var id in fs)
            {
                formations.Add(await Client.GetFromJsonAsync<formation>("Formation/" + id));
            }

            await InvokeAsync(() =>
            {
                StateHasChanged();
            });

        }
    }

    private async void SuppressionFormation(formation f)
    {
        Console.WriteLine("Suppression de la formation du panier.");
        formations.Remove(f);
        fs.Remove(f.id.ToString());
        await Storage.SetItemAsync<List<string>>("formations", fs);
        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    private async void Payer()
    {
        orderInfo info = new orderInfo();
        info.invoiceId = Guid.NewGuid().ToString();

        fs.ForEach(async _f =>
        {
            formation f = await Client.GetFromJsonAsync<formation>("Formation/" + _f);
            info.price += (float)f.Price;
        });

        Console.WriteLine("Appeler ici POST /Order/ avec orderInfo correctement rempli.");

        Console.WriteLine("Inscription à la formation en elle-même, passer par Paypal directement ?");
        // Enregistrer ici l'utilisateur à la formation !
        //JSRuntime.InvokeVoidAsync("display", e);


        applicant_session session = new applicant_session();
        session.confirmed = true;
        session.payed = true;

        var user = await Client.GetFromJsonAsync<UserPublic>("Users/info");

        fs.ForEach(async _f =>
        {
            formation f = await Client.GetFromJsonAsync<formation>("Formation/" + _f);

            session.idFormation = f.id; // string plutôt ?
            session.idUser = user.Id;


            Console.WriteLine("Inscription à la formation " + f.id);
            await Client.PostAsJsonAsync("/Users/registeruserformation", session);
            Console.WriteLine("Inscription réussie, devrait être après le Paypal");
            Console.WriteLine("Chaque formation devrait être ajoutée ici au fur et à mesure dans info, afin de générer correctement la facture");
        });

        Console.WriteLine("Ici, on crée un faux orderInfo, histoire de pouvoir montrer le fonctionnement des factures avec un achat spécifique.");
        info.invoiceId = Guid.NewGuid().ToString();
        await Client.PostAsJsonAsync("Order", info);
        Console.WriteLine("Facture créée !");
    }

}