@page "/utilisateur/connexion"

@inject NavigationManager NavigationManager
@inject MediwatchAuthentifiacationProvider AuthStateProvider
@inject IStringLocalizer<Utilisateur_connexion> Localizer


<EditForm class="form-signin" OnValidSubmit="OnSubmit" Model="loginForm">
    <DataAnnotationsValidator />
    <h4 class="font-weight-normal text-center">@Localizer["Connexion"]</h4>

    <label for="inputUsername" class="sr-only">@Localizer["Username"]</label>
    <InputText id="inputUsername" class="form-control" placeholder="Nom D'utilisateur" autofocus @bind-Value="@loginForm.UserName" />
    <ValidationMessage For="@(() => loginForm.UserName)" />

    <label for="inputPassword" class="sr-only">@Localizer["Password"]</label>
    <InputText type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" @bind-Value="@loginForm.Password" />
    <ValidationMessage For="@(() => loginForm.Password)" />

    <input type="checkbox" bind="@loginForm.RememberMe"/><br/>@Localizer["Remember"]<br/>

    <button class="btn btn-lg btn-primary btn-block" type="submit">@Localizer["Connexion"]</button>

    <label class="text-danger">@error</label>
    <NavLink href="/utilisateur/enregistrement">
        <h6 class="font-weight-normal text-center">@Localizer["Register"]</h6>
    </NavLink>
    <a class="btn btn-primary btn-lg text-center" href="Account/LoginExternal">Google</a>
</EditForm>

@code
{

	LoginForm loginForm { get; set; } = new LoginForm();
	string error { get; set; }

	async Task OnSubmit()
	{
		error = null;
		try
		{
			await AuthStateProvider.Login(loginForm);
			NavigationManager.NavigateTo("", true);
		}
		catch (Exception ex)
		{
			error = ex.Message;
		}
	}
}